<p id="notice"><%= notice %></p>

<h1>Travels</h1>

<table class = "table-striped">
  <thead>
    <tr>
      <th>Hotel name</th>
      <th>Hotel cost per night</th>
      <th>Hotel Number of Nights</th>
      <th>Hotel cost total</th>
      <th>Airfare cost total</th>
      <th>Other expenses total</th>
      <th>Total travel cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travels.each do |travel| %>
      <tr>
        <td><%= travel.hotel_name %></td>
        <td><%= travel.hotel_cost_per_night %></td>
        <td><%= travel.hotel_number_of_nights %></td>
        <td><%= travel.hotel_cost_total %></td>
        <td><%= travel.airfare_cost_total %></td>
        <td><%= travel.other_expenses_total %></td>
        <td><%= travel.total_travel_cost %></td>
        <td><%= link_to 'Show', travel %></td>
        <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
        <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel', new_travel_path %>
