<%= form_for(sponsorship) do |f| %>
  <% if sponsorship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsorship.errors.count, "error") %> prohibited this sponsorship from being saved:</h2>

      <ul>
      <% sponsorship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :direct_cost %>
    <%= f.text_field :direct_cost %>
  </div>

  <div class="field">
    <%= f.label :level_label %>
    <%= f.text_field :level_label %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
