<p id="notice"><%= notice %></p>

<h1>Physical Goods</h1>

<table>
  <thead>
    <tr>
      <th>Tshirt count</th>
      <th>Tshirt cost</th>
      <th>Tshirts distributed</th>
      <th>Stickers cost</th>
      <th>Other goods</th>
      <th>Other goods cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physical_goods.each do |physical_good| %>
      <tr>
        <td><%= physical_good.tshirt_count %></td>
        <td><%= physical_good.tshirt_cost %></td>
        <td><%= physical_good.tshirts_distributed %></td>
        <td><%= physical_good.stickers_cost %></td>
        <td><%= physical_good.other_goods %></td>
        <td><%= physical_good.other_goods_cost %></td>
        <td><%= link_to 'Show', physical_good %></td>
        <td><%= link_to 'Edit', edit_physical_good_path(physical_good) %></td>
        <td><%= link_to 'Destroy', physical_good, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physical Good', new_physical_good_path %>
