<p id="notice"><%= notice %></p>

<p>
  <strong>Tshirt count:</strong>
  <%= @physical_good.tshirt_count %>
</p>

<p>
  <strong>Tshirt cost:</strong>
  <%= @physical_good.tshirt_cost %>
</p>

<p>
  <strong>Tshirts distributed:</strong>
  <%= @physical_good.tshirts_distributed %>
</p>

<p>
  <strong>Stickers cost:</strong>
  <%= @physical_good.stickers_cost %>
</p>

<p>
  <strong>Other goods:</strong>
  <%= @physical_good.other_goods %>
</p>

<p>
  <strong>Other goods cost:</strong>
  <%= @physical_good.other_goods_cost %>
</p>

<%= link_to 'Edit', edit_physical_good_path(@physical_good) %> |
<%= link_to 'Back', physical_goods_path %>
